<a href="/?path={{this}}">
<div class="dir">
    <div class="image">
        <img src="gfx/files_icons/directorie.png" alt="{{getDirName this}}">
    </div>
    <div class="data">
        <p>{{getDirName this}}</p>
    </div>
        <form  method="POST" action="/delDir">
            <input type="hidden" name="path" value="{{this}}">
            <input type="hidden" name="currentPath" value="{{@root.currentPath}}">
            <button type="submit" class="delete" onclick="return confirm('Are you sure you want to delete this?')">X</button>
        </form>
</div>
</a>

