
{{#if (isEditable this)}}
    <a href="/editor?path={{this}}">
{{else}}
    <a href="/getFile?path={{this}}">
{{/if}}

    <div class="file">
        <form method="POST" action="/downloadFile">
            <input type="hidden" name="path" value="{{this}}">
            <button type="submit" class="download">
                <img src="gfx/download.png" alt="download">
            </button>
        </form>
        <div class="image">
            <img src="gfx/files_icons/{{getExtention this}}.png" alt="{{getFileName this}}">
        </div>
        <div class="data">
            <p>{{getFileName this}}</p>
        </div>
        <form method="POST" action="/delFile">
            <input type="hidden" name="path" value="{{this}}">
            <input type="hidden" name="currentPath" value="{{@root.currentPath}}">
            <button type="submit" class="delete" onclick="return confirm('Are you sure you want to delete this?')">X</button>
        </form>
    </div>
</a>


