<main>
    <aside>
        <div class="manager-control">
            <div class="editor-options">
                <div class="option-btn" onclick="changeColorPalete()">
                    <div class="content">
                        <p>Next color palette</p>
                    </div>
                    <div class="fold">🎨</div>
                </div>
                <div class="font-size">
                    <button type="button" class="fold-minus" onmousedown="setFontInterval(-1)" onmouseup="clearFontInterval()" onclick="changeFontSize(-1)">-</button>
                    <div id="fontSize"></div>
                    <button type="button" class="fold-plus" onmousedown="setFontInterval(1)" onmouseup="clearFontInterval()" onclick="changeFontSize(1)">+</button>
                </div>
                <div class="option-btn" onclick="sendStyling()">               
                    <div class="content">
                        <p>Save styling</p>
                    </div>
                    <div class="fold"></div>
                </div>
            </div>
            <a href="/getFile?path={{filePath}}" class="button">
                <div class="content">
                    <p>Show file</p>
                </div>
                <div class="fold"></div>
            </a>
            <form method="POST" action="/downloadFile">
                <input type="hidden" name="path" value="{{filePath}}">
                <button type="submit" class="button" >
                    <div class="content">
                        <p>Download File</p>
                    </div>
                    <div class="fold"></div>
                </button>
            </form>

            <div class="button" onclick="switchFileRenameDialog()">
               <div class="content">
                    <p>Rename file</p>
                </div>
                <div class="fold"></div>
            </div>
            <a href="/?path={{getDirPath filePath}}" class="button" >
                <div class="content">
                    <p>Return</p>
                </div>
                <div class="fold"></div>
            </a>
        </div>
    </aside>
    <div id="main-content">
        <div class="filename-view">
            {{#each (pathFileFormat filePath)}}
                /{{this.short}}
            {{/each}}
        </div>
        <div class="editor">
            <div id="line-counter">
                <p>1</p>
            </div>
            <textarea name="text-content" 
                        id="text-content" 
                        oninput="lineCount()" 
                        spellcheck="false" 
                        style="background-color:{{editorStyling.colorPalettes.bgColor}};
                                color:{{editorStyling.colorPalettes.color}}
                                font-size:{{editorStyling.fontSize}}px">{{fileContent}}</textarea>
        </div>
        <button type="button" class="save-btn" onclick="return saveFile('{{safeFileFormat filePath}}')">Save current state</button>
    </div> 
</main>


<dialog id="fileRenameDialog" class="dialogs">
    <form method="post" action="/renameFile" class="content">
        <h2>Rename File</h2>
        <div class="form-inputs">
            <label for="filename">Rename file &#40;And extension&#41;</label>
            <div class="input-group">
                <input type="text" name="filename" id="filename" value="{{getFileNameForInput filePath}}" required="">
                <input type="hidden" name="defaultExt" value="{{getExtension filePath}}">
                <select name="ext" id="ext" required="">
                    {{#each editableExt}}
                        {{#if (isEqual this (getExtension ../filePath))}}
                            <option value="{{this}}" selected="">{{this}}</option>
                        {{else}}
                            <option value="{{this}}">{{this}}</option>
                        {{/if}}
                    {{/each}}
                </select>
            </div>
            <label for="extSwitch" class="check-label">Enable ext change: <input type="checkbox" id="extSwitch" onchange="extCheck('{{getExtension filePath}}')"></label>
            <p id="extInfo">Changing extension can cause problems</p>
            <input type="hidden" name="oldFilePath" value="{{filePath}}">
        </div>
        <div class="form-buttons">
            <button type="submit">Rename</button>
            <button type="button" onclick="switchFileRenameDialog()">Cancel</button>
        </div>
    </form>
</dialog>



<script src="js/editor.js"></script>